<h1> Strat Calculation Results </h1>

<li> Numbers <%= @numbers %> </li>
<li> Sorted Numbers <%= @sorted_numbers %> </li>
<li> Count <%= @count %> </li>
<li> Minimum <%= @minimum %> </li>
<li> Maximum <%= @maximum %> </li>
<li> Range <%= @range %> </li>
<li> Median <%= @median %> </li>
<li> Sum <%= @sum %> </li>
<li> Mean <%= @mean %> </li>
<li> Variance <%= @variance %> </li>
<li> Standard Deviation <%= @standard_deviation %> </li>
<li> Mode <%= @mode %> </li>
