<h1> Word Count Results </h1>

<li> Text <%= @text %> </li>
<li> Word Count <%= @word_count %> </li>
<li> Character Count (with spaces) <%= @character_count_with_spaces %> </li>
<li> Character Count (without spaces) <%= @character_count_without_spaces %> </li>
<li> Occurrences of <%= @special_word %> <%= @occurrences %> </li>
